In [ ]:

import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder, PolynomialFeatures

/Users/narsimhareddyatla/Documents/Python/ML_Project/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [ ]:

df = pd.read_csv("merged_output.csv")
df

,latitude,longitude,month,temperature_max,temperature_min,humidity_mean,cloud_cover_mean,windspeed_max,windgusts_max,precipitation_total,precipitation_hours,sunshine_hours,solar_radiation_GHI,daylight_hours,ac_output,dc_output,tilt,azimuth,module_type,array_type
0,59.56297,-135.33626,4.0,5.62,1.45,79.20,85.40,5.23,40.56,149.8,408.0,142.17,434.46,14.58,84.270024,89.090437,30,270,1,1
1,59.56297,-135.33626,5.0,10.64,5.78,77.58,78.84,5.14,35.21,138.7,260.0,204.11,555.87,17.10,105.573946,111.523698,30,270,1,1
2,59.56297,-135.33626,6.0,16.50,9.76,80.60,90.00,9.00,42.44,94.4,312.0,204.33,469.77,18.56,114.788005,121.199599,30,270,1,1
3,59.56297,-135.33626,7.0,22.37,13.57,76.19,71.84,8.54,34.47,41.3,143.0,330.18,604.83,17.80,89.289664,94.726644,30,270,1,1
4,59.56297,-135.33626,8.0,20.19,13.58,80.90,74.74,9.00,40.04,115.6,260.0,238.43,408.30,15.49,68.312761,72.703168,30,270,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3290,40.63738,-121.87552,3.0,8.03,-1.05,73.06,73.06,15.81,38.21,348.7,334.0,206.29,396.86,11.96,48.140964,51.332716,30,270,1,1
3291,40.63738,-121.87552,4.0,16.85,4.22,54.97,54.43,13.59,34.99,77.4,82.0,317.31,653.70,13.31,84.270024,89.090437,30,270,1,1
3292,40.63738,-121.87552,5.0,22.19,10.11,56.19,40.00,13.11,32.47,106.7,118.0,354.79,745.97,14.46,105.573946,111.523698,30,270,1,1
3293,40.63738,-121.87552,6.0,27.79,13.24,41.10,42.60,14.78,38.25,6.2,24.0,393.65,824.70,15.04,114.788005,121.199599,30,270,1,1
3294,40.63738,-121.87552,7.0,35.62,18.26,21.81,6.03,13.62,36.83,0.0,0.0,423.77,924.51,14.75,89.289664,94.726644,30,270,1,1

In [ ]:

month_encoded = pd.get_dummies(df['month'], prefix='month')
df_encoded = pd.concat([df.drop(columns=['month']), month_encoded], axis=1)

features_to_expand = df_encoded.drop(columns=['ac_output', 'dc_output'], errors='ignore')


poly = PolynomialFeatures(degree=1, interaction_only=True, include_bias=False)
X_poly = poly.fit_transform(features_to_expand)


expanded_feature_names = poly.get_feature_names_out(features_to_expand.columns)
df_complex = pd.DataFrame(X_poly, columns=expanded_feature_names)


df_complex['ac_output'] = df_encoded['ac_output']
df_complex['dc_output'] = df_encoded['dc_output']

In [ ]:

df_complex.describe()

,latitude,longitude,temperature_max,temperature_min,humidity_mean,cloud_cover_mean,windspeed_max,windgusts_max,precipitation_total,precipitation_hours,...,month_5.0,month_6.0,month_7.0,month_8.0,month_9.0,month_10.0,month_11.0,month_12.0,ac_output,dc_output
count,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,...,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000,3295.000000
mean,42.106244,-104.384198,16.181775,6.397991,65.840695,55.388825,18.866058,37.880027,72.284674,104.321396,...,0.083156,0.084067,0.084067,0.081639,0.083460,0.081335,0.083156,0.082549,51.443786,54.784331
std,9.653661,29.481656,11.773605,10.478101,14.520594,18.168126,5.342707,7.221660,66.881505,78.058267,...,0.276160,0.277530,0.277530,0.273855,0.276618,0.273391,0.276160,0.275242,38.112873,40.026345
min,13.265930,-170.483090,-26.270000,-31.910000,12.770000,4.160000,5.140000,15.140000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.895611,6.853265
25%,35.559480,-116.424540,7.470000,-1.115000,59.030000,43.030000,14.940000,33.240000,27.400000,51.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.680497,17.133559
50%,41.148650,-100.462810,17.230000,7.130000,68.630000,55.420000,18.480000,37.540000,56.500000,88.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,48.140964,51.332716
75%,46.349910,-89.569470,25.585000,14.430000,75.930000,68.580000,22.440000,41.965000,96.950000,133.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,89.289664,94.726644
max,70.638040,145.214500,43.750000,31.050000,96.100000,97.580000,40.190000,101.730000,601.500000,541.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,114.788005,121.199599

In [ ]:

X = df_complex.drop(columns=['ac_output','dc_output']).values
y = df_complex[['ac_output']].values


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='tanh', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation='tanh'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(64, activation='tanh'),
    tf.keras.layers.Dense(1)  # Output layer for regression
])


model.compile(optimizer='adam', loss='mse', metrics=['mae'])


history = model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=1)


y_pred = model.predict(X_test)

Epoch 1/100

/Users/narsimhareddyatla/Documents/Python/ML_Project/.venv/lib/python3.9/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 994us/step - loss: 3290.6511 - mae: 43.8680
Epoch 2/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - loss: 2796.9229 - mae: 40.7488
Epoch 3/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 744us/step - loss: 2399.8459 - mae: 37.0361
Epoch 4/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - loss: 2100.8772 - mae: 33.6870
Epoch 5/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 684us/step - loss: 1838.2736 - mae: 30.9385
Epoch 6/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - loss: 1579.5632 - mae: 28.6001
Epoch 7/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - loss: 1395.7909 - mae: 26.5602
Epoch 8/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 1206.5420 - mae: 24.4547
Epoch 9/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - loss: 1062.5553 - mae: 23.2321
Epoch 10/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 925.8447 - mae: 21.4975
Epoch 11/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - loss: 814.3768 - mae: 20.6315
Epoch 12/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 760.2149 - mae: 20.0691
Epoch 13/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 604us/step - loss: 631.3055 - mae: 18.2394
Epoch 14/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 598.2162 - mae: 18.3256
Epoch 15/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - loss: 549.6666 - mae: 17.5350
Epoch 16/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 701us/step - loss: 488.2966 - mae: 16.1892
Epoch 17/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 702us/step - loss: 447.5001 - mae: 15.7920
Epoch 18/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - loss: 375.1766 - mae: 14.2592
Epoch 19/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 685us/step - loss: 328.9907 - mae: 13.5111
Epoch 20/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 698us/step - loss: 326.9564 - mae: 13.4568
Epoch 21/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step - loss: 319.1963 - mae: 13.3448
Epoch 22/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 687us/step - loss: 272.6901 - mae: 12.1831
Epoch 23/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - loss: 278.2799 - mae: 12.4409
Epoch 24/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - loss: 262.1614 - mae: 11.9758
Epoch 25/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 756us/step - loss: 245.6733 - mae: 11.5570
Epoch 26/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - loss: 228.9365 - mae: 11.0020
Epoch 27/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 219.0318 - mae: 10.6241
Epoch 28/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step - loss: 213.0971 - mae: 10.5989
Epoch 29/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - loss: 218.3521 - mae: 10.8797
Epoch 30/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 831us/step - loss: 204.8209 - mae: 10.7993
Epoch 31/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 678us/step - loss: 199.7329 - mae: 10.3705
Epoch 32/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 657us/step - loss: 196.5890 - mae: 10.2861
Epoch 33/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 678us/step - loss: 193.8989 - mae: 10.3360
Epoch 34/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 186.9181 - mae: 10.0752
Epoch 35/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - loss: 183.5270 - mae: 10.1107
Epoch 36/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - loss: 180.9215 - mae: 9.9238
Epoch 37/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - loss: 169.5959 - mae: 9.7276
Epoch 38/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 168.7853 - mae: 9.7891
Epoch 39/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 890us/step - loss: 151.3320 - mae: 9.3640
Epoch 40/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 752us/step - loss: 163.5865 - mae: 9.4438
Epoch 41/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - loss: 147.3510 - mae: 9.0805
Epoch 42/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 680us/step - loss: 151.5985 - mae: 9.0860
Epoch 43/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 657us/step - loss: 152.1791 - mae: 9.2642
Epoch 44/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - loss: 148.4222 - mae: 9.0231
Epoch 45/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 630us/step - loss: 133.2990 - mae: 8.7780
Epoch 46/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - loss: 145.5194 - mae: 8.9304
Epoch 47/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - loss: 147.1943 - mae: 8.7224
Epoch 48/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 133.4063 - mae: 8.5325
Epoch 49/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - loss: 135.8301 - mae: 8.7290
Epoch 50/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 129.3581 - mae: 8.6167
Epoch 51/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - loss: 145.2417 - mae: 8.6726
Epoch 52/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 132.2292 - mae: 8.2409
Epoch 53/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 701us/step - loss: 118.8221 - mae: 7.8696
Epoch 54/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 127.0096 - mae: 7.9644
Epoch 55/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - loss: 124.2929 - mae: 8.1477
Epoch 56/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 117.0225 - mae: 7.8066
Epoch 57/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 108.7618 - mae: 7.6089
Epoch 58/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - loss: 115.5935 - mae: 7.8652
Epoch 59/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - loss: 103.7928 - mae: 7.3216
Epoch 60/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - loss: 110.2240 - mae: 7.3123
Epoch 61/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 106.5415 - mae: 7.2173
Epoch 62/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - loss: 114.0483 - mae: 7.6058
Epoch 63/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - loss: 113.5070 - mae: 7.6370
Epoch 64/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - loss: 104.9089 - mae: 7.0986
Epoch 65/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - loss: 105.6748 - mae: 7.1535
Epoch 66/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - loss: 93.4171 - mae: 6.7587
Epoch 67/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 690us/step - loss: 110.4298 - mae: 7.3154
Epoch 68/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 87.7916 - mae: 6.5702
Epoch 69/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - loss: 118.7642 - mae: 7.6152
Epoch 70/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 106.7408 - mae: 7.2097
Epoch 71/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 100.4441 - mae: 7.1555
Epoch 72/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 686us/step - loss: 89.8287 - mae: 6.6486
Epoch 73/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 750us/step - loss: 98.7363 - mae: 6.9558
Epoch 74/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 692us/step - loss: 89.7013 - mae: 6.6495
Epoch 75/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 97.9124 - mae: 6.9928
Epoch 76/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 652us/step - loss: 82.3785 - mae: 6.2243
Epoch 77/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - loss: 94.2996 - mae: 6.5500
Epoch 78/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 837us/step - loss: 91.7129 - mae: 6.5704
Epoch 79/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 816us/step - loss: 81.3842 - mae: 6.1458
Epoch 80/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - loss: 84.0450 - mae: 6.3273
Epoch 81/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 745us/step - loss: 88.3812 - mae: 6.3200
Epoch 82/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 772us/step - loss: 92.9049 - mae: 6.4889
Epoch 83/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 81.7779 - mae: 6.1670
Epoch 84/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - loss: 90.3633 - mae: 6.8187
Epoch 85/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - loss: 77.8269 - mae: 6.2008
Epoch 86/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - loss: 87.8250 - mae: 6.5812
Epoch 87/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - loss: 88.6090 - mae: 6.4085
Epoch 88/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 100.3050 - mae: 6.7498
Epoch 89/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 94.9681 - mae: 6.9569
Epoch 90/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 108.6269 - mae: 6.9871
Epoch 91/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - loss: 88.2845 - mae: 6.4012
Epoch 92/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 89.6617 - mae: 6.4686
Epoch 93/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - loss: 93.5882 - mae: 6.5732
Epoch 94/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 94.2302 - mae: 6.8488
Epoch 95/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 97.4907 - mae: 7.1702
Epoch 96/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 82.3787 - mae: 6.3362
Epoch 97/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 977us/step - loss: 68.7085 - mae: 5.6015
Epoch 98/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 872us/step - loss: 82.3319 - mae: 5.9663
Epoch 99/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 875us/step - loss: 69.3369 - mae: 5.5318
Epoch 100/100
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 68.6773 - mae: 5.3685
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [ ]:
# %%
# Evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)
mape = np.mean(np.abs((y_test - y_pred) / (y_test + 1e-8))) * 100

print(f"\n--- AC_OUTPUT ---")
print(f"MAE  : {mae:.2f}")
print(f"RMSE : {rmse:.2f}")
print(f"R²   : {r2:.2f}")
print(f"MAPE : {mape:.2f}%")

--- AC_OUTPUT ---
MAE  : 5.59
RMSE : 7.83
R²   : 0.96
MAPE : 16.44%

In [7]:
# %%
# Get feature columns
feature_columns = df_complex.drop(columns=['ac_output', 'dc_output']).columns.tolist()

# Create zero-filled template
base_input = pd.DataFrame([np.zeros(len(feature_columns))], columns=feature_columns)

# Set constant feature values
constants = {
    'latitude': 40.63738,
    'longitude': -121.87552,
    'temperature_max': 22.19,
    'temperature_min': 10.11,
    'humidity_mean': 56.19,
    'cloud_cover_mean': 40.00,
    'windspeed_max': 13.11,
    'windgusts_max': 32.47,
    'precipitation_total': 106.7,
    'precipitation_hours': 118.0
}

for key, value in constants.items():
    base_input.at[0, key] = value

# Loop through months 1 to 12
for month in range(1, 13):
    custom_input = base_input.copy()
    
    # Zero all month columns
    for col in [col for col in feature_columns if col.startswith("month_")]:
        custom_input.at[0, col] = 0.0

    # Set current month column to 1.0
    month_col = f"month_{month}.0"
    if month_col in custom_input.columns:
        custom_input.at[0, month_col] = 1.0
    else:
        print(f"Warning: Column {month_col} not found.")

    # Predict
    prediction = model.predict(custom_input.values)
    print(f"Month {month}: Predicted AC Output = {prediction[0][0]:.2f}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Month 1: Predicted AC Output = 104.18
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Month 2: Predicted AC Output = 104.47
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
Month 3: Predicted AC Output = 104.45
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Month 4: Predicted AC Output = 104.44
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Month 5: Predicted AC Output = 104.45
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Month 6: Predicted AC Output = 104.43
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Month 7: Predicted AC Output = 104.42
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Month 8: Predicted AC Output = 104.47
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Month 9: Predicted AC Output = 104.47
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Month 10: Predicted AC Output = 104.48
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Month 11: Predicted AC Output = 104.21
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Month 12: Predicted AC Output = 104.27

In [ ]:

df_input = pd.read_csv("Merged_Weather___PVWatts_Data.csv")

month_dummies = pd.get_dummies(df_input['month'], prefix='month', dtype=float)
df_processed = pd.concat([df_input.drop(columns=['month']), month_dummies], axis=1)

model_features = df_complex.drop(columns=['ac_output', 'dc_output']).columns.tolist()


for col in model_features:
    if col not in df_processed.columns:
        df_processed[col] = 0.0  # Fill missing month columns or others with 0

X_custom = df_processed[model_features].values

# Step 4: Predict for all rows
predictions = model.predict(X_custom)

df_processed['ac_output_predicted'] = predictions.flatten()


print(df_processed[['latitude', 'longitude', 'ac_output_predicted']])

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
      latitude  longitude  ac_output_predicted
0    40.730610 -73.935242             7.871407
1    40.730610 -73.935242             8.653408
2    40.730610 -73.935242            45.822830
3    40.730610 -73.935242            63.305687
4    40.730610 -73.935242           105.042717
..         ...        ...                  ...
115  32.779167 -96.808891            73.131256
116  32.779167 -96.808891            32.552967
117  32.779167 -96.808891            17.039469
118  32.779167 -96.808891             8.876269
119  32.779167 -96.808891             8.101945

[120 rows x 3 columns]

In [ ]:
import pandas as pd


df_processed['month'] = list(range(1, 13)) * (len(df_processed) // 12)


df_processed.reset_index(drop=True, inplace=True)

num_locations = len(df_processed) // 12


for i in range(num_locations):
    start = i * 12
    end = start + 12
    group_df = df_processed.iloc[start:end][['month', 'latitude', 'longitude', 'ac_output_predicted']]


    group_df = group_df.reset_index(drop=True)
    print(f"\n📍 Location {i+1} — Latitude: {group_df['latitude'][0]}, Longitude: {group_df['longitude'][0]}")
    display(group_df)

📍 Location 1 — Latitude: 40.73061, Longitude: -73.935242

    month  latitude  longitude  ac_output_predicted
0       1  40.73061 -73.935242             7.871407
1       2  40.73061 -73.935242             8.653408
2       3  40.73061 -73.935242            45.822830
3       4  40.73061 -73.935242            63.305687
4       5  40.73061 -73.935242           105.042717
5       6  40.73061 -73.935242            83.374077
6       7  40.73061 -73.935242            84.353188
7       8  40.73061 -73.935242            73.508339
8       9  40.73061 -73.935242            46.062775
9      10  40.73061 -73.935242            14.781289
10     11  40.73061 -73.935242             8.039484
11     12  40.73061 -73.935242             7.805999

📍 Location 2 — Latitude: 34.052235, Longitude: -118.243683

    month   latitude   longitude  ac_output_predicted
0       1  34.052235 -118.243683            10.223915
1       2  34.052235 -118.243683            14.724543
2       3  34.052235 -118.243683            46.194801
3       4  34.052235 -118.243683            84.543159
4       5  34.052235 -118.243683           102.053429
5       6  34.052235 -118.243683            94.273003
6       7  34.052235 -118.243683            98.736420
7       8  34.052235 -118.243683            74.220558
8       9  34.052235 -118.243683            41.259098
9      10  34.052235 -118.243683            19.046572
10     11  34.052235 -118.243683             8.776120
11     12  34.052235 -118.243683             8.335271

📍 Location 3 — Latitude: 41.881832, Longitude: -87.623177

    month   latitude  longitude  ac_output_predicted
0       1  41.881832 -87.623177             7.817322
1       2  41.881832 -87.623177            10.033670
2       3  41.881832 -87.623177            45.853123
3       4  41.881832 -87.623177            56.218052
4       5  41.881832 -87.623177           104.186806
5       6  41.881832 -87.623177           104.964745
6       7  41.881832 -87.623177            86.403267
7       8  41.881832 -87.623177            73.464691
8       9  41.881832 -87.623177            45.217949
9      10  41.881832 -87.623177            12.534591
10     11  41.881832 -87.623177             8.040845
11     12  41.881832 -87.623177             7.780839

📍 Location 4 — Latitude: 29.749907, Longitude: -95.358421

    month   latitude  longitude  ac_output_predicted
0       1  29.749907 -95.358421             8.097682
1       2  29.749907 -95.358421            12.009037
2       3  29.749907 -95.358421            45.534298
3       4  29.749907 -95.358421            64.620621
4       5  29.749907 -95.358421            87.516502
5       6  29.749907 -95.358421            99.356186
6       7  29.749907 -95.358421            81.714119
7       8  29.749907 -95.358421            73.093216
8       9  29.749907 -95.358421            32.635098
9      10  29.749907 -95.358421            17.201082
10     11  29.749907 -95.358421            10.334502
11     12  29.749907 -95.358421             9.402625

📍 Location 5 — Latitude: 33.448376, Longitude: -112.074036

    month   latitude   longitude  ac_output_predicted
0       1  33.448376 -112.074036             8.193573
1       2  33.448376 -112.074036            10.652235
2       3  33.448376 -112.074036            45.849716
3       4  33.448376 -112.074036            73.291084
4       5  33.448376 -112.074036            78.974159
5       6  33.448376 -112.074036            94.566757
6       7  33.448376 -112.074036            78.119347
7       8  33.448376 -112.074036            72.256111
8       9  33.448376 -112.074036            37.691284
9      10  33.448376 -112.074036            24.755568
10     11  33.448376 -112.074036             8.342035
11     12  33.448376 -112.074036             8.191005

📍 Location 6 — Latitude: 39.9526, Longitude: -75.1652

    month  latitude  longitude  ac_output_predicted
0       1   39.9526   -75.1652             7.884154
1       2   39.9526   -75.1652             8.897769
2       3   39.9526   -75.1652            45.772804
3       4   39.9526   -75.1652            68.371010
4       5   39.9526   -75.1652           104.280510
5       6   39.9526   -75.1652            78.533714
6       7   39.9526   -75.1652            84.098656
7       8   39.9526   -75.1652            72.114067
8       9   39.9526   -75.1652            44.015991
9      10   39.9526   -75.1652            13.364199
10     11   39.9526   -75.1652             8.039519
11     12   39.9526   -75.1652             7.850404

📍 Location 7 — Latitude: 37.773972, Longitude: -122.431297

    month   latitude   longitude  ac_output_predicted
0       1  37.773972 -122.431297             8.437822
1       2  37.773972 -122.431297            10.083737
2       3  37.773972 -122.431297            46.082378
3       4  37.773972 -122.431297            79.727676
4       5  37.773972 -122.431297           100.219917
5       6  37.773972 -122.431297            99.264809
6       7  37.773972 -122.431297           100.378258
7       8  37.773972 -122.431297            84.429657
8       9  37.773972 -122.431297            44.261715
9      10  37.773972 -122.431297            19.830490
10     11  37.773972 -122.431297             8.141788
11     12  37.773972 -122.431297             8.071095

📍 Location 8 — Latitude: 47.608013, Longitude: -122.335167

    month   latitude   longitude  ac_output_predicted
0       1  47.608013 -122.335167             7.742806
1       2  47.608013 -122.335167             8.070636
2       3  47.608013 -122.335167            45.177284
3       4  47.608013 -122.335167            46.328300
4       5  47.608013 -122.335167            84.174629
5       6  47.608013 -122.335167           102.490776
6       7  47.608013 -122.335167            79.751442
7       8  47.608013 -122.335167            72.332672
8       9  47.608013 -122.335167            25.101583
9      10  47.608013 -122.335167            10.082365
10     11  47.608013 -122.335167             7.862631
11     12  47.608013 -122.335167             7.794809

📍 Location 9 — Latitude: 32.715736, Longitude: -117.161087

    month   latitude   longitude  ac_output_predicted
0       1  32.715736 -117.161087            12.061210
1       2  32.715736 -117.161087            17.075348
2       3  32.715736 -117.161087            46.200615
3       4  32.715736 -117.161087            84.478287
4       5  32.715736 -117.161087           100.909874
5       6  32.715736 -117.161087            98.048203
6       7  32.715736 -117.161087            99.082436
7       8  32.715736 -117.161087            83.516365
8       9  32.715736 -117.161087            43.736130
9      10  32.715736 -117.161087            19.397919
10     11  32.715736 -117.161087             8.312910
11     12  32.715736 -117.161087             8.284238

📍 Location 10 — Latitude: 32.779167, Longitude: -96.808891

    month   latitude  longitude  ac_output_predicted
0       1  32.779167 -96.808891             8.042683
1       2  32.779167 -96.808891            11.210400
2       3  32.779167 -96.808891            45.646255
3       4  32.779167 -96.808891            50.870354
4       5  32.779167 -96.808891           105.004250
5       6  32.779167 -96.808891            93.915306
6       7  32.779167 -96.808891            87.944908
7       8  32.779167 -96.808891            73.131256
8       9  32.779167 -96.808891            32.552967
9      10  32.779167 -96.808891            17.039469
10     11  32.779167 -96.808891             8.876269
11     12  32.779167 -96.808891             8.101945